.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 50vh;
}

.about-main div {
  margin: 25px;
  padding: 10px;
  border: 2px solid var(--highlight-color);
  border-radius: 10px;
  width: 200px;
}

.about-main div img {
  height: 150px;
  width: 150px;
}

.about-item {
  width: 15rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 500ms;
}

.about-item:hover {
  font-weight: 600;
  background-color:#fff;
  box-shadow: 5px 5px 15px var(--highlight-color);
}

@media screen and (max-width: 1200px) {
  .about-item{
    width: 15rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 500ms;
  }

  .about-main div img {
    height: 12rem;
    width: 10rem;
  }

  .about-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
  }
}
