.about-main {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200vh;
}

.about-main div {
  margin: 25px;
  padding: 10px;
  border: 2px solid var(--highlight-color);
  border-radius: 5px;
  width: 200px;
}

.about-main div img {
  height: 150px;
  width: 150px;
}

.about-item {
  width: 15rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 500ms;
}

.about-item:hover {
  height: 13rem;
  font-weight: 800;
}
