.profile{
    display :flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.profile-image{
    box-sizing: border-box;
    border-radius: 50%;
    width: 100px;
}
.profile-title{
    text-align: center;
    margin-bottom: 3rem;
}