.home-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    .home-main img{
        width: 80%;
        height: 500px;
    }
  }