.auth-form {
    max-width: 360px;
    margin: 45px auto;
    padding: 40px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    background: #fff;
  }

  .file-choose-btn{
    background-color:#fafafa;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    border: 2px solid var(--primary-color);
    width:max-content;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .btn-large{
      width: 360px;
      font-size: large;
      font-weight: 600;
      padding: 1rem 0rem;
  }
  .showpassword{
      width: fit-content;
      margin: 0.3rem;
      cursor: pointer;
  }
  .showpassword >img{
      width: 30px;
      height:30px;
  }
  .success-upload{
    font-size: large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(43, 143, 71);
    text-decoration: underline;
  }
  .spinner-container{
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .spinner{
    align-items: center;
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: var(--primary-color) transparent var(--primary-color) transparent;
    border-radius: 50%;
    animation: spin 1.2s linear infinite;
}
@keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
.google-button > img{
    width: 25px;
    margin-right: 10px;

}
.google-button{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
}

.google-button-container{
  margin-bottom: 25px;
  width:100% ;
}
hr{
  width: 360px;
}
