.auth-form {
    max-width: 360px;
    margin: 45px auto;
    padding: 40px;
    border: 1px solid #ddd;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.05);
    background: #fff;
  }

  .file-choose-btn{
    background-color:#fafafa;
    color: rgb(0, 0, 0);
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    border: 2px solid var(--primary-color);
    width:max-content;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 0rem;
  }

  .btn-large{
      width: 360px;
      font-size: large;
      font-weight: 600;
      padding: 1rem 0rem;
  }
  .showpassword{
      width: fit-content;
      margin: 0.3rem;
      cursor: pointer;
  }
  .showpassword >img{
      width: 30px;
      height:30px;
  }